<footer class="page-footer font-small bg-secondary pt-4">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                
                <ul class="social-network">
                    <li>
                        <a class="icon-linkedin" 
                        href="https://www.linkedin.com/in/jackeline-akemi-477386171/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="icon-instagram" 
                        href="https://www.instagram.com/jacke.akemi/?hl=pt-br" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="icon-github" 
                        href="https://github.com/jackakemi" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">&copy; Jackeline Akemi | 2021</span>
    </div>
</footer>
